/* Navbar.css */

.navbar-wrapper {
    width: 100%;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1); /* Apply shadow to full width */
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 8px 16px 7.728px 16px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 auto; /* Center the navbar */
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* This keeps the left logo fixed to the left */
}
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* This keeps the right logo fixed to the right */
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    width: 30.486vh;
}

.navbar-logo-left {
    max-height: 62px;
    max-width: 189px;
}
.navbar-logo-right {
    max-height: 62px;
    max-width: 62px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a.active {
    font-weight: 800;
}
.navbar-menu a {
    color: #333333; /* Change button text color */
}

.button-container {
    display: flex;
    width: 439px;
    height: 62px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
