.footer {
  background: var(--Blue-01, #1c2851);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.footer-inner-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px; /* Space between rows */
  flex-wrap: wrap;
  row-gap: 20px;
}

.collaboration-text {
  color: white;
  margin-right: 20px;
  margin-bottom: 0;
}

.main-collaborator-logo img {
  max-height: 120px;
  width: auto;
  object-fit: cover;
}

.footer-bottom-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  width: auto;
  height: 60px;
  filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
  .footer-top-row {
    flex-direction: column;
    text-align: center;
  }

  .collaboration-text {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-logo img {
    max-width: 80px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    max-width: 60px;
  }
}
