.card {
  width: 297px; /* You can adjust the width as needed */
  height: 280px; /* Adjust height as well */
  background-color: #f3f4f6; /* Light gray background */
  border-radius: 15px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  padding: 24px; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  flex: 1 1 calc(33% - 27px); /* Ensure each card takes up 25% of the row, minus some margin */
  max-width: calc(33% - 27px); /* Limit the card width to 25% per row */
  margin-bottom: 20px; /* Add some space between rows */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-content {
  text-align: left; /* Align text to the left */
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-number {
  font-size: 14px;
  color: #fff; /* A light gray color */
  margin-bottom: 10px; /* Space between number and title */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff; /* Darker gray for the title */
}
.card-number,
.card-title {
  transition: transform 0.3s ease-in-out; /* Ensure smooth movement */
}

.card-details {
  font-size: 14px;
  color: #ffffff; /* Light gray color for details */
  margin-top: 10px; /* Space between title and details */
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
  height: auto;
}
.card-details hr {
  color: #fff;
}
.card:hover .card-details {
  bottom: 0;
  transform: translateY(0%);
  opacity: 1;
}
/* Move the content (title and ID) upwards on hover */
.card:hover .card-number,
.card:hover .card-title {
  transform: translateY(calc(-1 * var(--details-height)));
}
.objective-text-container {
  flex: 1 1 calc(25% - 20px); /* Same width as cards */
  max-width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
  align-items: flex-start; /* Align text to the left */
  box-sizing: border-box;
  margin-bottom: 20px; /* Ensure consistent spacing */
}

.objective-text-container h3 {
  color: var(--Grey-01, #474e5c);
  text-align: right;
  font-family: "Fira Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  letter-spacing: -0.396px;
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
}

.objective-text-container p {
  color: var(--Grey-02, #667085);
  text-align: right;
  font-family: "Fira Sans";
  margin-top: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: -0.22px;
}

li {
  /* */
  list-style: disc;
}
